services:
  minio:
    image: quay.io/minio/minio
    ports:
      - "9100:9000"
      - "9101:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  garage-app:
    build: .
    ports:
      - "9090:9090"
    environment:
      SPRING_PROFILES_ACTIVE: dev
    depends_on:
      - minio

volumes:
  minio_data:
