<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <!-- ======================================================= -->
    <!-- === FRAGMENT DÉDIÉ UNIQUEMENT À LA BANNIÈRE           === -->
    <!-- Nom du fragment : "display-banner"                      -->
    <!-- ======================================================= -->
    <div th:fragment="display-banner">
        
        <!-- Ce fragment a besoin de la variable ${banner} qui est fournie par le ControllerAdvice -->
        <div th:if="${banner != null and banner.enabled}" class="promotion-banner">
        
            <img th:src="${banner.imageUrl}" alt="Promotion" class="promotion-banner__image" />
            
            <p th:if="${!#strings.isEmpty(banner.message)}" th:text="${banner.message}" class="promotion-banner__message"></p>
            
        </div>
        
    </div>

</body>
</html>