<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Changement de mot de passe</title>
     <!-- CSS globaux -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- CSS spécifique à la page client-devis -->
    <link rel="stylesheet" th:href="@{/css/clients.css}">
</head>
<body>
<div class="container">
	<div th:if="${firstLogin}">
	    <p>Bienvenue ! Veuillez changer votre mot de passe pour continuer.</p>
	</div>
	<div th:if="${!firstLogin}">
		<div th:replace="~{menu-user :: mainMenuUser}"></div>
	</div>
	<form th:action="@{/save-new-password}"
	      th:object="${passwordDto}"
	      method="post">
	
	    <h3>Changer votre mot de passe</h3>
	
	    <div>
	        <label>Nouveau mot de passe :</label>
	        <input type="password" th:field="*{password}" />
	        <p th:if="${#fields.hasErrors('password')}"
	           th:errors="*{password}"
	           style="color:red"></p>
	    </div>
	
	    <div>
	        <label>Confirmer le mot de passe :</label>
	        <input type="password" th:field="*{confirmPassword}" />
	        <p th:if="${#fields.hasErrors('confirmPassword')}"
	           th:errors="*{confirmPassword}"
	           style="color:red"></p>
	    </div>
	
	    <!-- CSRF -->
	    <input type="hidden"
	           th:name="${_csrf.parameterName}"
	           th:value="${_csrf.token}" />
	
	    <button type="submit">Changer le mot de passe</button>
	
	</form>
</div>
</body>
</html>
