
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="mainMenuUser">
		<div th:replace="~{fragments/banner-fragment :: display-banner}"></div>
		<div class="navbar">
			<a th:href="@{/factures}">Factures</a> 
			<a th:href="@{/devis}">Devis</a>
			<div class="dropdown">
				<button class="dropbtn">
					Mon compte<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a th:href="@{/api/user/info}">Informations</a> <a
						th:href="@{/change-password}">Changer de mot de passe</a> <a
						th:href="@{/logout}">Déconnexion</a>
				</div>
			</div>
		</div>
	</div>


</body>
</html>