
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
		<div th:fragment="mainMenuUser">
	        <nav>
	            <ul>
	                 <li><a th:href="@{/factures}">Factures</a></li>
	                 <li><a th:href="@{/devis}">Devis</a></li>
	                 <li><a th:href="@{/change-password}">Changer mot de passe</a></li>
	                 <li><a th:href="@{/logout}">Déconnexion</a></li>
	                 <li><a th:href="@{/api/user/info}">Mon compte</a></li>
	            </ul>
	        </nav>
	    </div>
        
      
</body>
</html>